/*==========================*/
/*  BASIC SETUP  */
/*==========================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Montserrat', 'Raleway', 'Work Sans', sans-serif;
    line-height: 1.3;
}
 .header-section {
    background: url(bg-img/bg-head.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top top;
    position: relative;
    height: 100vh;
}
.nav-link{
    color: #fff;
    font-size: 1.6rem;
    text-transform: capitalize;
}
/*==========================*/
/* REUSABLE COMPONENTS */
/*==========================*/
section{
   padding: 6rem 0;
}
.bg-section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.banner{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    flex-direction: row;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 4.2rem;
    color: #fff;
    font-weight: bold;
    margin-top: 8rem;
}
h2{
    width: 100%;
    font-size: 3.2rem;
    color: #202020;
    font-weight: 700;
    margin-top: 1.5rem; 
    margin-bottom: 8rem;
}
h3{
    width: 100%;
    font-size: 1.5rem;
    color: #87959c;
    font-weight: 400;
    letter-spacing: .5rem;
}
h4{
    width: 100%;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 700;
    margin-top: 4rem;
}
h5{
    width: 100%;
    padding-top: 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    letter-spacing: .1rem;
    padding-bottom: 2rem;
}
h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}
.little-description{
    font-size: 1.8rem;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.8;
}
p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
}
.btn:link,
.btn:visited,
.btn {
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 1rem 2.5rem;
    border-radius: 25rem;
    margin-top: 3rem;
    letter-spacing: .1rem;
}

.btn-md {
    color: #535353;
    border: .1rem solid #489dda;
    cursor: pointer;
}
.btn-md:hover {
    color: #fff;
    background: #46bef5;
    border: .1rem solid #535353;
    transition: .5s;
}
  /* NAVBAR */
.navbar {
   
}
.navbar a.navbar-brand.main-logo{
    margin-top: 2.8rem;
  }
.nav-item{
    margin-top: 3rem !important;
}
.nav-link{
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}
.header-section .top-btn {
    padding: 0;
}
.header-section .top-btn a.btn-a {
    margin-top: 2.8rem !important;
    color: #5480dd;
    background: #fff;
    margin-right: 2rem;
    font-family: 'Raleway', sans-serif;
}
.header-section .top-btn a.btn-a:hover{
   color: #fff;
   background: #5974de;
   border: .1rem solid #fff;
}
.header-section .top-btn a.btn-b {
    margin-top: 2.8rem !important;
    color: #fff;
    background: #5a73de;
    border: .1rem solid #fff;
    font-family: 'Raleway', sans-serif;
}
.header-section .top-btn a.btn-b:hover {
   color: #5480dd;
   background: #fff;
}
.navbar-toggler {
    font-size: 4rem;
    outline: none !important;
    margin-left: 0 auto;
    color: #FFF;
  
}
   /* BANNER AREA */

.slider{
width: 100%;
height: 100vh;
position: relative;

}
.header-section .slider {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}
.slider .btn-lg {
    color: #25b6c2;
    background: #fff;
}
.slider .btn-lg:hover {
    color: #fff;
    background: #489dda;
    border: .1rem solid #fff;
}
.slider .btn-lg::after {
    content: '\25b6';
    color: #25b6c2;
    margin-left: 1rem;
}
.slider .btn-lg:hover::after {
    color: #fff;
}

/*  SERVICES SECTION  */

.services-section h3 {
    margin-top: 4rem;
    font-size: 1.8rem;
    color: #411b1b;
    font-weight: 700;
    letter-spacing: .1rem;
}
.services-section .service-text{
    color: #747474;
    padding-right: 3rem;
}
.services-section .btn {
    margin-bottom: 3rem;
}
/*  FEATURES SECTION  */
.features-section{
    text-align: center;
    background: #fff;
}
.item-icon{
    width: 10%;
    float: left;
    padding-right: 2rem;
    padding-top: 2.5rem;
}
.item-icon img {
    margin-bottom: 3rem;
}
.item-describe{
    padding-top: 2rem;
    width: 90%;
    float: left;
}
.item-describe h4{
    margin: 0;
    font-size: 1.8rem;
    color: #171717;
    text-align: left;
    font-weight: bold;
}
.item-describe p {
    margin-top: 1.5rem;
    color: #5f5f5f;
    text-align: left;
    font-weight: 400;
}
/*  CUSTOMERS SECTION  */
.customers-section{
    text-align: center;
    background: #ffffff;
}
.customers-section .customer {
   padding: 3rem;
    background: #fff;
    transition: transform .5s; /* Animation */
    margin: 0 auto;
}
.customers-section .customer:hover {
    transform: scale(1.1);
}
.owl-carousel .customer img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.customer p{
    color: #535353;
    padding-right: 2rem;
}
.customer h4{
    color: #202020;
}   
.owl-dots {
    margin-top: 2rem;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

        /* SEO SECTION */   
.seo-section{
    background: url(bg-img/bg.png);
}
.seo-section img{
   margin: 1rem 0;
}
.seo-section h4{
    margin: 2rem 0;
}
.seo-section p {
    color: #fff;
    font-weight: 400;
    padding-bottom: 3rem;
}
    /* VALUE SECTION */
.value-item h2{
    font-size: 2.2rem;
    margin: 2rem 0;
}
.value-item p{ 
    color: #949494;
    margin-top: 0;
    padding-bottom: 4rem;
    border-bottom: .3rem solid #0bd7fc;
}
.value-section .value-three {
    border-bottom: .3rem solid #736de2;
}
    /* TEAM SECTION */
.team-section{
   text-align: center;
   background: #fff;
}
.team-section .team-member {
    padding: 2rem;
    background: #fff;
    transition: transform .5s; /* Animation */
    margin: 0 auto;
}
.team-section .team-member:hover {
    transform: scale(1.2);
}
.team-member .title{
    color: #0bd7fc;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.team-member h4{
    margin-bottom: 1rem;
    color: #767676;
}
.team-member h5{
  padding: 0;
}
.team-section .team-member img{
    width: 20rem;
    height: 20rem;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 50%;
}
    /* PLANING SECTION */
.planing-section{
    text-align: center;
    background: #fff;
    position: relative;
}
.planing-section h2 {
  margin-bottom: 7rem;
}
.planing-section .plan-item {
    background: #fff;
    transition: transform .5s; /* Animation */
    margin: 0 auto;
}
.planing-section .plan-item:hover {
    transform: scale(1.1);
}
.planing-section .plan-item {
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
}
.planing-section .plan-item:hover {
   background:  #fff;
   border-top: .5rem solid #0bd7fc;
   transition: .5s;
  opacity: 1.0;
}
.planing-section p{
   color: #87959c;
}
.plan5 {
    padding-top: 0;
}
.basic-plan h5{
    color: #20edd7;
}
.premium-plan h5{
    color: #6fe2fd;
}
.business-plan h5{
    color: #3b99f9;
}
.ultimate-plan h5{
    color: #655ee0;
}
.planing-section .value{
    font-size: 3.2rem;
    font-weight: bold;
    color: #262b2f;
}
.planing-section .plan-item .check-mark {
    margin-top: 5rem;
    font-size: 1.5rem;
    line-height: 2.8;
    color: #535353;
}
.planing-section .check-mark1::before {
    content: '\2714';
    color: #20edd7;
    margin-right: 1rem;
    font-size: small;
}
.planing-section .check-mark2::before {
    content: '\2714';
    color: #6fe2fd;
    margin-right: 1rem;
    font-size: small;
}
.planing-section .check-mark3::before {
    content: '\2714';
    color: #3b99f9;
    margin-right: 1rem;
    font-size: small;
}
.planing-section .check-mark4::before {
    content: '\2714';
    color: #655ee0;
    margin-right: 1rem;
    font-size: small;
}
.planing-section .btn{
    color: #535353;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: bold;
    padding: 1rem 2rem;
}
.planing-section .btn:hover{
    color: #fff;
    background: #0bd7fc;
    transition: .5s;
}
.planing-section .active {
    color: #fff;
    background: #0bd7fc;
}
    /* COLLABORATE SECTION */
.collaborate-section{
    text-align: center;
    background: #fff;
}
.collaborate-section h4{
    margin: 2rem 0;
    color: #767676;
}
.coll img {
    width: 8ren;
    height: 8rem;
    margin: 0 auto;
}
.coll h4 {
    color: #171717;
}
.coll p {
    color: #5f5f5f;
    text-align: center;
    padding: 0 2rem;
}
.coll .btn-lg {
    color: #fff;
    background: #23e1c8;
    margin: 6rem;
}
.coll .btn-lg:hover {
    color: #23e1c8;
    background: #fff;
    border: .1rem solid #23e1c8;
}
.coll .btn-lg::after {
    content: '\25b6';
    color: #fff;
    margin-left: 1rem;
}
.coll .btn-lg:hover::after {
    color: #23e1c8;
}

/*  FORM SECTION    */
.form-section {
    background: url(bg-img/bg-from.png);
    margin: 0; padding: 0;
    max-height: 40rem;
}
.form-section h3{
    color: #fff !important;
    margin-top: 7rem;
}
.form-section h2{
    color: #fff !important;
}
form {
    background: #fff;
}
.form-group {
    padding: 0 4rem;
    margin: 0;
}
.form-group h4 {
    font-size: 2.4rem;
    text-align: center;
    color: #202020;
    font-weight:400;
    margin-top: 0;
    margin-bottom: 4rem;
}
.form-group .form-control {
    font-size: 1.4rem;
    color: #5a6e79;
    text-align:left;
    font-weight:400;
    margin-top: 2rem;
}
 .form-section .checkbox {
    font-size: 1.4rem;
    color: #5a6e79;
    text-align:left;
    font-weight:600;
    margin-top: 2rem;
}
.form-section .btn-numbr .btn{
    color: #fff;
    background: #0bd7fc;
    padding: 1rem 3.5rem;
    margin-right: 1rem;
}
.form-section .btn-numbr .btn:hover {
    color: #0bd7fc;
    background: #fff;
    border: 0.1rem solid #0bd7fc;
}
.form-section .form-group .btn-account {
    font-size: 1.4rem;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 0 !important;
    color: #87959c;
    border-bottom: .1rem solid #87959c;
}
.form-section .form-group .btn-account:hover {
    color: #25b6c2;
}
.form-group p {
    color: #5a6e79;
    padding: 0 2rem; 
    margin-top: 2rem !important;
    display: inline-block;
}
.numbr {
    float: left;
    font-size: 1.4rem;
    color: #6559dd;
    font-weight: bold;
    margin-bottom: 3rem !important;
}
/*  FOOTER SECTION  */
footer {
    padding-top: 15rem;
    padding-bottom: 6rem;
}
.footer-section p {
    line-height: 3;
    margin-top: 3rem;
}
.footer-section p a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #87959c;
}
.footer-section p a:hover {
    color: #0bd7fc;
 }
.footer-section img {
    width: 25rem;
    height: 15rem;
    margin-top: 3.5rem;
}
.footer-section .contact-icon a .fas {
    color: #0bd7fc;
}
.footer-section .contact-icon {
    margin-top: 3rem;
}
.footer-section .contact-icon a {
    margin-top: 3rem;
    line-height: 3;
    text-decoration: none;
}
.footer-section .contact-icon .contact-text {
    color: #87959c;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.3rem;
   
}
.footer-section .contact-icon .contact-text:hover {
    color: #25b6c2;
    border-bottom: 0.1rem solid #0bd7fc;
}
.fas {
    font-size: 1.6rem;
    margin-right: 1rem;
}
.copyright p {
    color: #6a6a6a;
    font-size: 1.3rem;
}
/*  END */